@import 'tailwindcss';

:root {
  --color-blue: #0000ff;
  --color-blue-secondary: #000098;
  --color-black: #000000;
  --color-dark-gray: #1a191a;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Hide scrollbar but allow scrolling */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
